<?xml version="1.0" encoding="UTF-8"?>
<image schemaversion="5.8" name="alchemy">
  <description type="system">
    <author>Machinery</author>
    <contact></contact>
    <specification>Description of system 'alchemy' exported by Machinery</specification>
  </description>
  <preferences>
    <packagemanager>zypper</packagemanager>
    <version>0.0.1</version>
    <type image="vmx" filesystem="ext3" installiso="true" boot="vmxboot/suse-SLES12" format="qcow2" bootloader="grub2"/>
  </preferences>
  <users group="root">
    <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root"/>
  </users>
  <repository alias="SLES12-SP3-x86_64-Online" type="yast2" priority="99">
    <source path="http://192.168.130.1/install/SLES12-SP3-x86_64/CD1"/>
  </repository>
  <packages type="bootstrap">
    <package name="filesystem"/>
    <package name="ca-certificates"/>
    <package name="ca-certificates-mozilla"/>
    <package name="glibc-locale"/>
  </packages>
  <packages type="image">
    <package name="FirmwareUpdateKit"/>
    <package name="Mesa"/>
    <package name="Mesa-libEGL1"/>
    <package name="Mesa-libGL1"/>
    <package name="Mesa-libglapi0"/>
    <package name="OpenIPMI"/>
    <package name="SUSEConnect"/>
    <package name="SuSEfirewall2"/>
    <package name="aaa_base"/>
    <package name="aaa_base-extras"/>
    <package name="acl"/>
    <package name="at"/>
    <package name="attr"/>
    <package name="augeas"/>
    <package name="augeas-lenses"/>
    <package name="autoconf"/>
    <package name="autofs"/>
    <package name="automake"/>
    <package name="autoyast2"/>
    <package name="autoyast2-installation"/>
    <package name="bash"/>
    <package name="bash-completion"/>
    <package name="bc"/>
    <package name="bind-libs"/>
    <package name="bind-utils"/>
    <package name="binutils"/>
    <package name="blktrace"/>
    <package name="blog"/>
    <package name="boost-license1_54_0"/>
    <package name="branding-SLE"/>
    <package name="btrfsmaintenance"/>
    <package name="btrfsprogs"/>
    <package name="btrfsprogs-udev-rules"/>
    <package name="bzip2"/>
    <package name="ca-certificates"/>
    <package name="ca-certificates-mozilla"/>
    <package name="cantarell-fonts"/>
    <package name="cdrkit-cdrtools-compat"/>
    <package name="checkmedia"/>
    <package name="cifs-utils"/>
    <package name="command-not-found"/>
    <package name="convmv"/>
    <package name="coreutils"/>
    <package name="cpio"/>
    <package name="cpp"/>
    <package name="cpp48"/>
    <package name="cpupower"/>
    <package name="cracklib"/>
    <package name="cracklib-dict-small"/>
    <package name="crash"/>
    <package name="crash-kmp-default"/>
    <package name="cron"/>
    <package name="cronie"/>
    <package name="cryptconfig"/>
    <package name="cryptsetup"/>
    <package name="cups-client"/>
    <package name="cups-filters-ghostscript"/>
    <package name="cups-libs"/>
    <package name="curl"/>
    <package name="cyrus-sasl"/>
    <package name="cyrus-sasl-digestmd5"/>
    <package name="cyrus-sasl-gssapi"/>
    <package name="cyrus-sasl-plain"/>
    <package name="cyrus-sasl-saslauthd"/>
    <package name="db48-utils"/>
    <package name="dbus-1"/>
    <package name="dbus-1-glib"/>
    <package name="dbus-1-python"/>
    <package name="dbus-1-x11"/>
    <package name="dconf"/>
    <package name="dejavu-fonts"/>
    <package name="delayacct-utils"/>
    <package name="deltarpm"/>
    <package name="device-mapper"/>
    <package name="dialog"/>
    <package name="diffutils"/>
    <package name="dirmngr"/>
    <package name="dmidecode"/>
    <package name="dmraid"/>
    <package name="dos2unix"/>
    <package name="dosfstools"/>
    <package name="dracut"/>
    <package name="e2fsprogs"/>
    <package name="ed"/>
    <package name="efibootmgr"/>
    <package name="elfutils"/>
    <package name="ethtool"/>
    <package name="expat"/>
    <package name="expect"/>
    <package name="fastjar"/>
    <package name="fd0ssh"/>
    <package name="fdupes"/>
    <package name="file"/>
    <package name="file-magic"/>
    <package name="filesystem"/>
    <package name="fillup"/>
    <package name="findutils"/>
    <package name="finger"/>
    <package name="fipscheck"/>
    <package name="fontconfig"/>
    <package name="fping"/>
    <package name="gamin-server"/>
    <package name="gawk"/>
    <package name="gdb"/>
    <package name="genisoimage"/>
    <package name="gettext-runtime"/>
    <package name="ghostscript"/>
    <package name="ghostscript-fonts-other"/>
    <package name="ghostscript-fonts-std"/>
    <package name="ghostscript-x11"/>
    <package name="gio-branding-SLE"/>
    <package name="girepository-1_0"/>
    <package name="glib-networking"/>
    <package name="glib-networking-lang"/>
    <package name="glib2-tools"/>
    <package name="glibc"/>
    <package name="glibc-i18ndata"/>
    <package name="glibc-locale"/>
    <package name="gnu-unifont-bitmap-fonts"/>
    <package name="google-opensans-fonts"/>
    <package name="gpart"/>
    <package name="gpg2"/>
    <package name="gpm"/>
    <package name="gptfdisk"/>
    <package name="grep"/>
    <package name="groff"/>
    <package name="groff-full"/>
    <package name="grub2"/>
    <package name="grub2-branding-SLE"/>
    <package name="grub2-i386-pc"/>
    <package name="grub2-snapper-plugin"/>
    <package name="grub2-x86_64-efi"/>
    <package name="grub2-x86_64-xen"/>
    <package name="gsettings-backend-dconf"/>
    <package name="gsettings-desktop-schemas"/>
    <package name="gsettings-desktop-schemas-lang"/>
    <package name="guile-modules-2_0"/>
    <package name="gxditview"/>
    <package name="gzip"/>
    <package name="hardlink"/>
    <package name="haveged"/>
    <package name="hdparm"/>
    <package name="hwinfo"/>
    <package name="icedax"/>
    <package name="icmpinfo"/>
    <package name="info"/>
    <package name="initviocons"/>
    <package name="insserv-compat"/>
    <package name="inst-source-utils"/>
    <package name="ipmitool"/>
    <package name="iproute2"/>
    <package name="iptables"/>
    <package name="iputils"/>
    <package name="iscsiuio"/>
    <package name="jeos-firstboot"/>
    <package name="joe"/>
    <package name="kbd"/>
    <package name="kdump"/>
    <package name="kernel-default"/>
    <package name="kernel-firmware"/>
    <package name="kexec-tools"/>
    <package name="keyutils"/>
    <package name="kiwi"/>
    <package name="kiwi-desc-isoboot"/>
    <package name="kiwi-desc-netboot"/>
    <package name="kiwi-desc-oemboot"/>
    <package name="kiwi-desc-vmxboot"/>
    <package name="kiwi-doc"/>
    <package name="kiwi-man-pages"/>
    <package name="kiwi-templates"/>
    <package name="kiwi-tools"/>
    <package name="kmod"/>
    <package name="kmod-compat"/>
    <package name="kpartx"/>
    <package name="krb5"/>
    <package name="less"/>
    <package name="libFLAC8"/>
    <package name="libHX28"/>
    <package name="libICE6"/>
    <package name="libLLVM"/>
    <package name="libSM6"/>
    <package name="libX11-6"/>
    <package name="libX11-data"/>
    <package name="libX11-xcb1"/>
    <package name="libXau6"/>
    <package name="libXaw7"/>
    <package name="libXdamage1"/>
    <package name="libXext6"/>
    <package name="libXfixes3"/>
    <package name="libXft2"/>
    <package name="libXmu6"/>
    <package name="libXpm4"/>
    <package name="libXrender1"/>
    <package name="libXt6"/>
    <package name="libXxf86vm1"/>
    <package name="libacl1"/>
    <package name="libadns1"/>
    <package name="libaio1"/>
    <package name="libao-plugins4"/>
    <package name="libao4"/>
    <package name="libapparmor1"/>
    <package name="libarchive13"/>
    <package name="libasm1"/>
    <package name="libasound2"/>
    <package name="libassuan0"/>
    <package name="libattr1"/>
    <package name="libaudit1"/>
    <package name="libaugeas0"/>
    <package name="libavahi-client3"/>
    <package name="libavahi-common3"/>
    <package name="libblkid1"/>
    <package name="libboost_regex1_54_0"/>
    <package name="libboost_system1_54_0"/>
    <package name="libboost_thread1_54_0"/>
    <package name="libbtrfs0"/>
    <package name="libbz2-1"/>
    <package name="libcairo-gobject2"/>
    <package name="libcairo2"/>
    <package name="libcamgm100"/>
    <package name="libcap-ng0"/>
    <package name="libcap2"/>
    <package name="libcloog-isl4"/>
    <package name="libcom_err2"/>
    <package name="libcpupower0"/>
    <package name="libcrack2"/>
    <package name="libcroco-0_6-3"/>
    <package name="libcryptmount0"/>
    <package name="libcryptsetup4"/>
    <package name="libcurl4"/>
    <package name="libdatrie1"/>
    <package name="libdb-4_8"/>
    <package name="libdbus-1-3"/>
    <package name="libdcerpc-binding0"/>
    <package name="libdcerpc0"/>
    <package name="libdconf1"/>
    <package name="libdialog11"/>
    <package name="libdm0"/>
    <package name="libdrm2"/>
    <package name="libdrm_amdgpu1"/>
    <package name="libdrm_intel1"/>
    <package name="libdrm_nouveau2"/>
    <package name="libdrm_radeon1"/>
    <package name="libdw1"/>
    <package name="libedit0"/>
    <package name="libefivar1"/>
    <package name="libelf0"/>
    <package name="libelf1"/>
    <package name="libesmtp"/>
    <package name="libestr0"/>
    <package name="libevent-2_0-5"/>
    <package name="libexpat1"/>
    <package name="libext2fs2"/>
    <package name="libfam0-gamin"/>
    <package name="libfastjson4"/>
    <package name="libfdisk1"/>
    <package name="libffi4"/>
    <package name="libfipscheck1"/>
    <package name="libfreebl3"/>
    <package name="libfreetype6"/>
    <package name="libfuse2"/>
    <package name="libgbm1"/>
    <package name="libgc1"/>
    <package name="libgcc_s1"/>
    <package name="libgcrypt20"/>
    <package name="libgdbm4"/>
    <package name="libgio-2_0-0"/>
    <package name="libgirepository-1_0-1"/>
    <package name="libglib-2_0-0"/>
    <package name="libgmodule-2_0-0"/>
    <package name="libgmp10"/>
    <package name="libgnutls28"/>
    <package name="libgobject-2_0-0"/>
    <package name="libgpg-error0"/>
    <package name="libgpgme11"/>
    <package name="libgraphite2-3"/>
    <package name="libgthread-2_0-0"/>
    <package name="libguile-2_0-22"/>
    <package name="libharfbuzz0"/>
    <package name="libhavege1"/>
    <package name="libhogweed2"/>
    <package name="libibverbs"/>
    <package name="libibverbs1"/>
    <package name="libicu52_1"/>
    <package name="libicu52_1-data"/>
    <package name="libidn-tools"/>
    <package name="libidn11"/>
    <package name="libiptc0"/>
    <package name="libisl10"/>
    <package name="libiw30"/>
    <package name="libjasper1"/>
    <package name="libjbig2"/>
    <package name="libjpeg8"/>
    <package name="libjson-c2"/>
    <package name="libkate1"/>
    <package name="libkeyutils1"/>
    <package name="libkmod2"/>
    <package name="libksba8"/>
    <package name="liblcms1"/>
    <package name="libldap-2_4-2"/>
    <package name="libldapcpp1"/>
    <package name="libldb1"/>
    <package name="liblogging0"/>
    <package name="libltdl7"/>
    <package name="liblua5_1"/>
    <package name="liblzma5"/>
    <package name="liblzo2-2"/>
    <package name="libmagic1"/>
    <package name="libmlx5-1"/>
    <package name="libmng1"/>
    <package name="libmnl0"/>
    <package name="libmodman1"/>
    <package name="libmount1"/>
    <package name="libmozjs-17_0"/>
    <package name="libmpc3"/>
    <package name="libmpfr4"/>
    <package name="libncurses5"/>
    <package name="libncurses6"/>
    <package name="libndr-krb5pac0"/>
    <package name="libndr-nbt0"/>
    <package name="libndr-standard0"/>
    <package name="libndr0"/>
    <package name="libnetapi0"/>
    <package name="libnetfilter_conntrack3"/>
    <package name="libnetpbm11"/>
    <package name="libnettle4"/>
    <package name="libnfnetlink0"/>
    <package name="libnl-config"/>
    <package name="libnl1"/>
    <package name="libnl3-200"/>
    <package name="libnscd1"/>
    <package name="libnuma1"/>
    <package name="libogg0"/>
    <package name="liboggkate1"/>
    <package name="libopenct1"/>
    <package name="libopenssl1_0_0"/>
    <package name="libp11-kit0"/>
    <package name="libpango-1_0-0"/>
    <package name="libparted0"/>
    <package name="libpcap1"/>
    <package name="libpci3"/>
    <package name="libpciaccess0"/>
    <package name="libpcre1"/>
    <package name="libpipeline1"/>
    <package name="libpixman-1-0"/>
    <package name="libply-boot-client4"/>
    <package name="libply-splash-core4"/>
    <package name="libply-splash-graphics4"/>
    <package name="libply4"/>
    <package name="libpng16-16"/>
    <package name="libpolkit0"/>
    <package name="libpopt0"/>
    <package name="libprocps3"/>
    <package name="libproxy1"/>
    <package name="libpth20"/>
    <package name="libpulse0"/>
    <package name="libpython2_7-1_0"/>
    <package name="libqrencode3"/>
    <package name="librados2"/>
    <package name="librbd1"/>
    <package name="libreadline6"/>
    <package name="libreiserfscore0"/>
    <package name="libruby2_1-2_1"/>
    <package name="libsamba-credentials0"/>
    <package name="libsamba-errors0"/>
    <package name="libsamba-hostconfig0"/>
    <package name="libsamba-passdb0"/>
    <package name="libsamba-util0"/>
    <package name="libsamdb0"/>
    <package name="libsasl2-3"/>
    <package name="libseccomp2"/>
    <package name="libselinux1"/>
    <package name="libsemanage1"/>
    <package name="libsensors4"/>
    <package name="libsepol1"/>
    <package name="libsgutils2-2"/>
    <package name="libsmartcols1"/>
    <package name="libsmbclient0"/>
    <package name="libsmbconf0"/>
    <package name="libsmbldap0"/>
    <package name="libsmi"/>
    <package name="libsmi2"/>
    <package name="libsnapper4"/>
    <package name="libsnappy1"/>
    <package name="libsndfile1"/>
    <package name="libsnmp30"/>
    <package name="libsoftokn3"/>
    <package name="libsolv-tools"/>
    <package name="libspeex1"/>
    <package name="libsqlite3-0"/>
    <package name="libssh2-1"/>
    <package name="libstdc++6"/>
    <package name="libstorage-ruby"/>
    <package name="libstorage7"/>
    <package name="libsystemd0"/>
    <package name="libtalloc2"/>
    <package name="libtasn1"/>
    <package name="libtasn1-6"/>
    <package name="libtdb1"/>
    <package name="libtevent-util0"/>
    <package name="libtevent0"/>
    <package name="libthai-data"/>
    <package name="libthai0"/>
    <package name="libtiff5"/>
    <package name="libtirpc-netconfig"/>
    <package name="libtirpc3"/>
    <package name="libtool"/>
    <package name="libudev1"/>
    <package name="libunistring0"/>
    <package name="libunwind"/>
    <package name="liburcu0"/>
    <package name="libusb-0_1-4"/>
    <package name="libusb-1_0-0"/>
    <package name="libustr-1_0-1"/>
    <package name="libutempter0"/>
    <package name="libuuid1"/>
    <package name="libverto1"/>
    <package name="libvorbis0"/>
    <package name="libvorbisenc2"/>
    <package name="libvorbisfile3"/>
    <package name="libwbclient0"/>
    <package name="libwicked-0-6"/>
    <package name="libwrap0"/>
    <package name="libx86emu1"/>
    <package name="libxcb-dri2-0"/>
    <package name="libxcb-dri3-0"/>
    <package name="libxcb-glx0"/>
    <package name="libxcb-present0"/>
    <package name="libxcb-render0"/>
    <package name="libxcb-shm0"/>
    <package name="libxcb-sync1"/>
    <package name="libxcb-xfixes0"/>
    <package name="libxcb1"/>
    <package name="libxml2-2"/>
    <package name="libxml2-tools"/>
    <package name="libxshmfence1"/>
    <package name="libxslt-tools"/>
    <package name="libxslt1"/>
    <package name="libxtables10"/>
    <package name="libyajl2"/>
    <package name="libyaml-0-2"/>
    <package name="libyui-ncurses-pkg7"/>
    <package name="libyui-ncurses7"/>
    <package name="libyui7"/>
    <package name="libz1"/>
    <package name="libzio1"/>
    <package name="libzmq3"/>
    <package name="libzypp"/>
    <package name="logrotate"/>
    <package name="lsof"/>
    <package name="lsscsi"/>
    <package name="lttng-ust"/>
    <package name="lvm2"/>
    <package name="m4"/>
    <package name="mailx"/>
    <package name="make"/>
    <package name="makedumpfile"/>
    <package name="man"/>
    <package name="man-pages"/>
    <package name="master-boot-code"/>
    <package name="mcelog"/>
    <package name="mdadm"/>
    <package name="metamail"/>
    <package name="mingetty"/>
    <package name="mksh"/>
    <package name="mozilla-nspr"/>
    <package name="mozilla-nss"/>
    <package name="mozilla-nss-certs"/>
    <package name="mtools"/>
    <package name="multipath-tools"/>
    <package name="mutt"/>
    <package name="ncurses-utils"/>
    <package name="net-snmp"/>
    <package name="net-tools"/>
    <package name="netcat-openbsd"/>
    <package name="netcfg"/>
    <package name="netpbm"/>
    <package name="nfs-client"/>
    <package name="nfs-kernel-server"/>
    <package name="nfsidmap"/>
    <package name="nscd"/>
    <package name="ntp"/>
    <package name="numactl"/>
    <package name="ofl"/>
    <package name="open-iscsi"/>
    <package name="openct"/>
    <package name="openldap2-client"/>
    <package name="opensc"/>
    <package name="openslp"/>
    <package name="openslp-server"/>
    <package name="openssh"/>
    <package name="openssh-askpass"/>
    <package name="openssl"/>
    <package name="opie"/>
    <package name="p11-kit"/>
    <package name="p11-kit-tools"/>
    <package name="pam"/>
    <package name="pam-config"/>
    <package name="pam-modules"/>
    <package name="pam_mount"/>
    <package name="parted"/>
    <package name="patch"/>
    <package name="patterns-sles-Minimal"/>
    <package name="patterns-sles-base"/>
    <package name="patterns-sles-yast2"/>
    <package name="pciutils"/>
    <package name="pciutils-ids"/>
    <package name="pcsc-lite"/>
    <package name="perl"/>
    <package name="perl-Bit-Vector"/>
    <package name="perl-Bootloader"/>
    <package name="perl-Carp-Clan"/>
    <package name="perl-Class-Singleton"/>
    <package name="perl-Config-Crontab"/>
    <package name="perl-Config-IniFiles"/>
    <package name="perl-Date-Calc"/>
    <package name="perl-Digest-HMAC"/>
    <package name="perl-Digest-SHA1"/>
    <package name="perl-Encode-Locale"/>
    <package name="perl-Expect"/>
    <package name="perl-File-Listing"/>
    <package name="perl-File-Slurp"/>
    <package name="perl-HTML-Parser"/>
    <package name="perl-HTML-Tagset"/>
    <package name="perl-HTTP-Cookies"/>
    <package name="perl-HTTP-Daemon"/>
    <package name="perl-HTTP-Date"/>
    <package name="perl-HTTP-Message"/>
    <package name="perl-HTTP-Negotiate"/>
    <package name="perl-IO-HTML"/>
    <package name="perl-IO-Socket-SSL"/>
    <package name="perl-IO-Stty"/>
    <package name="perl-IO-Tty"/>
    <package name="perl-JSON"/>
    <package name="perl-LWP-MediaTypes"/>
    <package name="perl-LWP-Protocol-https"/>
    <package name="perl-List-MoreUtils"/>
    <package name="perl-Net-DBus"/>
    <package name="perl-Net-DNS"/>
    <package name="perl-Net-HTTP"/>
    <package name="perl-Net-SSLeay"/>
    <package name="perl-Parse-RecDescent"/>
    <package name="perl-Readonly"/>
    <package name="perl-SNMP"/>
    <package name="perl-Sub-Uplevel"/>
    <package name="perl-Term-ReadKey"/>
    <package name="perl-Test-Exception"/>
    <package name="perl-Tie-IxHash"/>
    <package name="perl-TimeDate"/>
    <package name="perl-URI"/>
    <package name="perl-WWW-RobotRules"/>
    <package name="perl-X11-Protocol"/>
    <package name="perl-X500-DN"/>
    <package name="perl-XML-LibXML"/>
    <package name="perl-XML-NamespaceSupport"/>
    <package name="perl-XML-Parser"/>
    <package name="perl-XML-SAX"/>
    <package name="perl-XML-SAX-Base"/>
    <package name="perl-XML-SAX-Expat"/>
    <package name="perl-XML-Simple"/>
    <package name="perl-XML-Twig"/>
    <package name="perl-XML-Writer"/>
    <package name="perl-XML-XPath"/>
    <package name="perl-XML-XPathEngine"/>
    <package name="perl-base"/>
    <package name="perl-camgm"/>
    <package name="perl-gettext"/>
    <package name="perl-libwww-perl"/>
    <package name="perl-solv"/>
    <package name="permissions"/>
    <package name="pigz"/>
    <package name="pinentry"/>
    <package name="pkg-config"/>
    <package name="plymouth"/>
    <package name="plymouth-branding-SLE"/>
    <package name="plymouth-dracut"/>
    <package name="plymouth-plugin-label"/>
    <package name="plymouth-plugin-label-ft"/>
    <package name="plymouth-plugin-script"/>
    <package name="plymouth-scripts"/>
    <package name="polkit"/>
    <package name="polkit-default-privs"/>
    <package name="postfix"/>
    <package name="ppp"/>
    <package name="pptp"/>
    <package name="prctl"/>
    <package name="procinfo"/>
    <package name="procmail"/>
    <package name="procps"/>
    <package name="psmisc"/>
    <package name="psmisc-lang"/>
    <package name="psutils"/>
    <package name="python"/>
    <package name="python-Jinja2"/>
    <package name="python-MarkupSafe"/>
    <package name="python-PyYAML"/>
    <package name="python-backports.ssl_match_hostname"/>
    <package name="python-base"/>
    <package name="python-futures"/>
    <package name="python-gobject"/>
    <package name="python-gobject-cairo"/>
    <package name="python-msgpack-python"/>
    <package name="python-psutil"/>
    <package name="python-pycrypto"/>
    <package name="python-pyzmq"/>
    <package name="python-requests"/>
    <package name="python-simplejson"/>
    <package name="python-solv"/>
    <package name="python-talloc"/>
    <package name="python-tornado"/>
    <package name="python-xml"/>
    <package name="qemu-block-curl"/>
    <package name="qemu-block-rbd"/>
    <package name="qemu-tools"/>
    <package name="quota"/>
    <package name="rdma-core"/>
    <package name="recode"/>
    <package name="reiserfs"/>
    <package name="release-notes-sles"/>
    <package name="rpcbind"/>
    <package name="rpm"/>
    <package name="rpm-python"/>
    <package name="rsh"/>
    <package name="rsync"/>
    <package name="rsyslog"/>
    <package name="ruby"/>
    <package name="ruby-common"/>
    <package name="ruby2.1"/>
    <package name="ruby2.1-rubygem-abstract_method"/>
    <package name="ruby2.1-rubygem-cfa"/>
    <package name="ruby2.1-rubygem-cfa_grub2"/>
    <package name="ruby2.1-rubygem-cheetah"/>
    <package name="ruby2.1-rubygem-fast_gettext"/>
    <package name="ruby2.1-rubygem-gem2rpm"/>
    <package name="ruby2.1-rubygem-ruby-augeas"/>
    <package name="ruby2.1-rubygem-ruby-dbus"/>
    <package name="ruby2.1-stdlib"/>
    <package name="salt"/>
    <package name="salt-minion"/>
    <package name="samba-client"/>
    <package name="samba-libs"/>
    <package name="scout"/>
    <package name="screen"/>
    <package name="sed"/>
    <package name="sg3_utils"/>
    <package name="shadow"/>
    <package name="shared-mime-info"/>
    <package name="sharutils"/>
    <package name="sharutils-lang"/>
    <package name="shim"/>
    <package name="sles-release"/>
    <package name="smartmontools"/>
    <package name="snapper"/>
    <package name="snapper-zypp-plugin"/>
    <package name="snmp-mibs"/>
    <package name="sqlite3"/>
    <package name="squashfs"/>
    <package name="star"/>
    <package name="strace"/>
    <package name="sudo"/>
    <package name="supportutils"/>
    <package name="suse-build-key"/>
    <package name="suse-module-tools"/>
    <package name="sysconfig"/>
    <package name="sysconfig-netconfig"/>
    <package name="sysfsutils"/>
    <package name="syslinux"/>
    <package name="syslog-service"/>
    <package name="systemd"/>
    <package name="systemd-presets-branding-SLE"/>
    <package name="systemd-sysvinit"/>
    <package name="sysvinit-tools"/>
    <package name="tar"/>
    <package name="tcl"/>
    <package name="tcpd"/>
    <package name="tcpdump"/>
    <package name="tcsh"/>
    <package name="telnet"/>
    <package name="terminfo"/>
    <package name="terminfo-base"/>
    <package name="time"/>
    <package name="timezone"/>
    <package name="typelib-1_0-Pango-1_0"/>
    <package name="udev"/>
    <package name="unzip"/>
    <package name="update-alternatives"/>
    <package name="usbutils"/>
    <package name="util-linux"/>
    <package name="util-linux-systemd"/>
    <package name="vim"/>
    <package name="vlan"/>
    <package name="vlock"/>
    <package name="vorbis-tools"/>
    <package name="vorbis-tools-lang"/>
    <package name="vsftpd"/>
    <package name="w3m"/>
    <package name="wallpaper-branding-SLE"/>
    <package name="wget"/>
    <package name="which"/>
    <package name="wicked"/>
    <package name="wicked-service"/>
    <package name="wireless-tools"/>
    <package name="wodim"/>
    <package name="x86info"/>
    <package name="xbitmaps"/>
    <package name="xdg-utils"/>
    <package name="xen-libs"/>
    <package name="xen-tools-domU"/>
    <package name="xfsprogs"/>
    <package name="xinetd"/>
    <package name="xtables-plugins"/>
    <package name="xz"/>
    <package name="yast2"/>
    <package name="yast2-add-on"/>
    <package name="yast2-audit-laf"/>
    <package name="yast2-auth-client"/>
    <package name="yast2-auth-server"/>
    <package name="yast2-boot-server"/>
    <package name="yast2-bootloader"/>
    <package name="yast2-branding-SLE"/>
    <package name="yast2-ca-management"/>
    <package name="yast2-core"/>
    <package name="yast2-country"/>
    <package name="yast2-country-data"/>
    <package name="yast2-dhcp-server"/>
    <package name="yast2-dns-server"/>
    <package name="yast2-firewall"/>
    <package name="yast2-ftp-server"/>
    <package name="yast2-hardware-detection"/>
    <package name="yast2-http-server"/>
    <package name="yast2-inetd"/>
    <package name="yast2-installation"/>
    <package name="yast2-instserver"/>
    <package name="yast2-iscsi-client"/>
    <package name="yast2-isns"/>
    <package name="yast2-kdump"/>
    <package name="yast2-ldap"/>
    <package name="yast2-mail"/>
    <package name="yast2-metapackage-handler"/>
    <package name="yast2-migration"/>
    <package name="yast2-network"/>
    <package name="yast2-nfs-client"/>
    <package name="yast2-nfs-common"/>
    <package name="yast2-nfs-server"/>
    <package name="yast2-nis-client"/>
    <package name="yast2-nis-server"/>
    <package name="yast2-ntp-client"/>
    <package name="yast2-online-update"/>
    <package name="yast2-online-update-frontend"/>
    <package name="yast2-packager"/>
    <package name="yast2-pam"/>
    <package name="yast2-perl-bindings"/>
    <package name="yast2-pkg-bindings"/>
    <package name="yast2-printer"/>
    <package name="yast2-proxy"/>
    <package name="yast2-registration"/>
    <package name="yast2-ruby-bindings"/>
    <package name="yast2-samba-client"/>
    <package name="yast2-schema"/>
    <package name="yast2-security"/>
    <package name="yast2-services-manager"/>
    <package name="yast2-slp"/>
    <package name="yast2-snapper"/>
    <package name="yast2-squid"/>
    <package name="yast2-storage"/>
    <package name="yast2-sudo"/>
    <package name="yast2-support"/>
    <package name="yast2-sysconfig"/>
    <package name="yast2-tftp-server"/>
    <package name="yast2-theme-SLE"/>
    <package name="yast2-trans-stats"/>
    <package name="yast2-transfer"/>
    <package name="yast2-update"/>
    <package name="yast2-users"/>
    <package name="yast2-vm"/>
    <package name="yast2-vpn"/>
    <package name="yast2-xml"/>
    <package name="yast2-ycp-ui-bindings"/>
    <package name="yp-tools"/>
    <package name="ypbind"/>
    <package name="zip"/>
    <package name="zisofs-tools"/>
    <package name="zsh"/>
    <package name="zypp-plugin-python"/>
    <package name="zypper"/>
    <package name="zypper-lifecycle-plugin"/>
    <namedCollection name="Minimal"/>
    <namedCollection name="base"/>
    <namedCollection name="yast2"/>
  </packages>
</image>
